<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ledway.barcodescannfcwriter">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INJECT_EVENT" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".MApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity android:name=".AppPreferences"
            android:label="Setting">

        </activity>


        <!-- 按键广播 -->
        <receiver
            android:name="com.zkc.Receiver.RemoteControlReceiver"
            android:permission="com.zkc.keycode" >
            <!--            <intent-filter android:priority="1000" />-->
            <intent-filter>
                <action android:name="com.zkc.keycode" />
            </intent-filter>
        </receiver>
        <!-- 广播接收 -->
        <receiver android:name="com.zkc.Receiver.StartReceiver" >
            <!--            <intent-filter android:priority="996" />-->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <!-- 扫描服务 -->
        <service android:name="com.zkc.Service.CaptureService" >
            <intent-filter>
                <action android:name="com.zkc.Service.CaptureService" />
            </intent-filter>
        </service>




        <meta-data android:name="AA_DB_NAME" android:value="BarCode.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data android:name="AA_MODELS" android:value="com.ledway.barcodescannfcwriter.models.Record" />
    </application>

</manifest>
